
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> project ###
/.idea/
/node_modules/
/public/media/
/public/uploads/
/public/Nginx-1.12_vhost.conf
###< project ###
